<p>
  footer works!
</p>
<div>
  <footer>
      <div id="footer">

          <div class="container">
              <div class="row">
                  <div class="col-md-8 footerColLeft">
                      <div id="skip"><a href="#content" style="font-size:x-large">Skip to Main Content</a></div>
                      <div class="sealsDiv">
                          <p class="logo state-seal"><img src="../../assets/images/Seal.png" alt="Florida State Seal" class="img-responsive" id="state-sealImg"></p>

                          <p class="officials">
                             Governor  <br />
                             Secretary of State
                          </p>


                      </div>
                      <ul class="list-inline utility-links" style="clear:left;">
                          <li><a href="http://dos.myflorida.com/privacy-policy/" target="_blank">PrivacyPolicy</a></li>
                          <li><a href="http://dos.myflorida.com/accessibility/" target="_blank">Accessibility</a></li>
                          <li><a href="http://dos.myflorida.com/site-map/" target="_blank">SiteMap</a></li>
                      </ul>
                      <p class="lead questions">QuestionsorComments <a href="http://dos.myflorida.com/elections/contacts/contact-us/" target="_blank">ContacttheDepartmentofState</a> or <a href="http://survey.dos.state.fl.us" target="_blank">takeourSurvey</a></p>
                      <p class="disclaimer">Under Florida law, e-mail addresses are public records. If you do not want your e-mail address released in response to a public records request, do not send electronic mail to this entity. Instead, contact this office by phone or in writing.</p>
                      <p class="copyright"><small><a href="http://dos.myflorida.com/copyright/" target="_blank">Copyright</a> © CopyRightContinue</small></p>
                  </div>
                  <div class="contact-block col-md-4 footerColRight">
                      <p class="logo" id="elections-sealP"><a href="http://dos.myflorida.com/elections/" target="_blank" title="Florida Division of Elections"> <img src="../../assets/images/Election_Seal.png" alt="Florida Division of Elections Seal" class="img-responsive" id="elections-sealImg"></a></p>
                      <ul class="utility-links list-inline" style="clear:left;">
                          <li><a href="http://dos.myflorida.com/communications/" target="_blank" title="Department of State Communications">Communications</a></li>
                          <li><a href="http://dos.myflorida.com/communications/connect/" target="_blank" title="Connect with the Department of State">Connect</a></li>
                      </ul>
                      <p class="department">
                          FloridaDepartmentofState<br>
                          Phone 1.866.308.6739<br>
                      </p>
                      <p class="address">
                           Building<br> South  Street,<br>
                           Florida

                      </p>

                  </div>

              </div>
              <div class="row">
                  <div class="col-md-9">

                  </div>
              </div>
          </div>
      </div>
  </footer>
</div>
