<div class="container" style="padding-top: 15px;">

  <div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel-body">

        <h3> Personal Identification Information</h3>
        <hr style="border-color:black;" />
        <div>
            <label class="text-primary" style="color:#3977ad; font-weight:bold">

              Personal Identification Information in the gray box cannot be changed on the review page.

            </label>
        </div>
        <fieldset disabled>
            <div class="row">
                <table style="background-color:#D3D3D3" class="table table-bordered reviewTable" role="presentation">

                    <tbody>
                        <tr>
                            <td colspan="3" style="font-weight:bold">

                                        <span class="glyphicon" [ngClass]="(getcustomer?.newRegistration )?'glyphicon-check':'glyphicon-unchecked'"
                                        ><span class="vh">Checked</span></span> NewRegistration

                            </td>
                            </tr>
                        <tr>
                             <td colspan="3" style="font-weight:bold">

                                         <span class="glyphicon" [ngClass]="(getcustomer?.recordUpdate )?'glyphicon-check':'glyphicon-unchecked'"> 
                                             <span class="vh">Checked</span></span> RecordUpdateOrChange

                                 </td>
                                    </tr>
                                    <tr>
                            <td colspan="3" style="font-weight:bold">


                                        <span class="glyphicon" [ngClass]="(getcustomer?.requesttoReplace )?'glyphicon-check':'glyphicon-unchecked'"
                                        ><span class="vh">Checked</span></span> RequesttoReplace



                            </td>
                        </tr>
                        <tr>
                        <td>

                                <div class=".col-xs-6 .col-sm-4"><b>LastName </b>  {{ getcustomer?.lastName }} </div>


                        </td>
                            <td>

                                <div class=".col-xs-6 .col-sm-4"><b>FirstName </b> {{ getcustomer?.firstName }}</div>
                            </td>


                            <td>
                                <div class=".col-sm-6"><b>MiddleName </b> {{ getcustomer?.middleName }}</div>
                            </td>
                         </tr>
                    </tbody>
                </table>

            </div>
        </fieldset>

                <h3> Application Information</h3>
                <hr style="border-color:black;" />
                <fieldset disabled>
                    <div class="row">
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <div class=".col-sm-6"><b>PartyAffiliation </b>  {{ getcustomer?.partyAffiliation }}  </div>
                                    </td>
                                </tr>

                                <tr style="word-wrap:break-word">
                                    <td colspan="2">
                                        <div class=".col-xs-6 .col-sm-4">
                                            <b>Email me SAMPLE BALLOTS:</b>
                                            {{ getcustomer?.publicEmailAddress }}
                                                &nbsp; &nbsp;

                                        </div>
                                    </td>
                                    <td>

                                <div class=".col-sm-6" style="word-wrap:break-word"><b>State or Country of Birth: </b> {{ getcustomer?.placeOfBirth }} <div style="font-size:smaller"> </div></div>

                                     </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class=".col-xs-6 .col-sm-4">
                                            <label>Legal Residential Address:   </label> <br>
                                            <div style="font-size:smaller; word-wrap:break-word">
                                                {{ getcustomer?.resStreetNumber }}
                                                {{ getcustomer?.resStreetName }}
                                                {{ getcustomer?.resStreetType }}
                                                {{ getcustomer?.resUspsCityName }}
                                                {{ getcustomer?.resZipCode }}
                                                {{ getcustomer?.countyOfResidence }}
                                             </div>
                                            </div>
                                    </td>
                                        <td>
                                            <div class=".col-xs-6 .col-sm-4">
                                                <label>Mailing Address: </label><br>
                                                <div style="font-size:smaller; word-wrap:break-word">
                                                        {{ getcustomer?.mailAddrLine1 }}
                                                        {{ getcustomer?.mailAddrLine2 }}
                                                        {{ getcustomer?.mailAddrLine3 }}
                                                        {{ getcustomer?.mailAddrCity }}
                                                        {{ getcustomer?.mailAddrZip }}
                                                        {{ getcustomer?.mailAddrState }}
                                                        {{ getcustomer?.mailAddrCountry }}
                                             </div>
                                            </div>
                                        </td>

                                     <td style="word-wrap:break-word">
                                <div class=".col-xs-6 .col-sm-4"><label>Former Address: </label><address><div style="font-size:smaller;">
                                        {{ getcustomer?.formerAddrLine1 }}
                                        {{ getcustomer?.formerAddrLine2 }}
                                        {{ getcustomer?.formerAddrLine3 }}
                                        {{ getcustomer?.formerAddrCity }}
                                        {{ getcustomer?.formerAddrZip }}
                                        {{ getcustomer?.formerAddrState }}
                                        {{ getcustomer?.formerAddrCountry }}
                                </div><br></address></div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" style="word-wrap:break-word">
                                <div class=".col-xs-6 .col-sm-4"><b>County: </b><div style="font-size:smaller;"> 
                                    {{ getcustomer?.partyAffiliation }} </div> </div>

                                    </td>


                                    <td style="word-wrap:break-word">
                                <div class=".col-xs-6 .col-sm-4"><b>Former Name: </b><div style="font-size:smaller;">
                                </div></div>
                                {{ getcustomer?.formerFirstName }} {{ getcustomer?.formerMiddleName }} {{ getcustomer?.formerLastName }}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class=".col-xs-6 .col-sm-4">
                                            <b>Gender: </b> {{ getcustomer?.gender }}
                                        </div>
                                    </td>
                                    <td>

                                    <div class=".col-xs-6 .col-sm-4"><b>
                                      Race/Ethnicity: </b> {{ getcustomer?.raceId }} </div>

                                    </td>
                                    <td>
                                        <div class=".col-xs-6 .col-sm-4"><b>TelephoneNumber </b> {{ getcustomer?.daytimePhone }} </div>
                                    </td>

                                </tr>



                                <tr>
                                    <td colspan="3">

                                            <span class="glyphicon" [ngClass]="(getcustomer?.votingAssistRequired )?'glyphicon-check':'glyphicon-unchecked'"> 
                                                <span class="vh">Checked</span></span> &nbsp; &nbsp; I will need assistance with voting



                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">

                                            <span class="glyphicon" [ngClass]="(getcustomer?.pollWorkerVolunteer )?'glyphicon-check':'glyphicon-unchecked'"
                                            ><span class="vh">Checked</span></span> &nbsp; &nbsp; I am interested in becoming a poll worker

                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="3">

                                            <span class="glyphicon" [ngClass]="(getcustomer?.military )?'glyphicon-check':'glyphicon-unchecked'"
                                            ><span class="vh">Checked</span></span> &nbsp; &nbsp; I am an active duty Uniformed Services or Merchant Marine member

                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="3">

                                            <span class="glyphicon"  [ngClass]="(getcustomer?.militaryDependent )?'glyphicon-check':'glyphicon-unchecked'"
                                            ><span class="vh">Checked</span></span>  &nbsp; &nbsp; I am a spouse or a dependent of an active duty Uniformed Services or Merchant Marine member


                                    </td>

                                </tr>

                                <tr>

                                    <td colspan="3">

                                            <span class="glyphicon"  [ngClass]="(getcustomer?.overseasFlag )?'glyphicon-check':'glyphicon-unchecked'"
                                            ><span class="vh">Checked</span></span> &nbsp; &nbsp; I am a U.S. citizen residing outside the U.S


                                    </td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                </fieldset>








                <div class="pull-right">
                        <div class="row">
                    <div class="col-sm-3">
                        <button  class="btn btn-primary " (click)="editContact(getcustomer?.ovrApplicationId)">Edit</button>
                      </div>

                      <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary" id="submitapp">
                            Print Paper Application
                        </button>
                      </div>
                


                        <div class="col-sm-3">
                            <button class="btn btn-danger pull-right" type="button" (click)="openModal(template)">Exit</button>
                          </div>
</div>
                </div>


            </div>


</div>


<ng-template #template>
        <div class="modal-body text-center">
  
  
          <h4>Exit Confirmation</h4>
          <hr />
  
          <p>
  
            By exiting this application, you will lose all of the data you entered?</p>
          <button type="button" class="btn btn-default" (click)="confirm()">Yes</button> &nbsp;
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>

</div>
