<div class="header">
  <a href="#default" class="col-lg-6 col-lg-offset-3 text-center logo">Registration</a>
  <div class="header-right">
    <!-- <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
    <a routerLinkActive="active" routerLink="eligibilityreactive">Eligibility Form</a>
    <!-- <a routerLinkActive="active" routerLink="contact">Customer List</a> -->
    <!-- <a routerLinkActive="active" routerLink="eligibility">Eligibility Form</a> -->
    <a routerLinkActive="active" routerLink="getlist">Get List</a>
    <a routerLinkActive="active" routerLink="review">Get Review</a>

    <a href="#about">About</a>
  </div>
</div>


<div class="navInfoBlackMobile">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:0px;" id="headerTopMobile">
      <div class="container text-center" id="headerContainerTopMobileOne">
          <div class="col-md-6 col-sm-6 col-xs-6 text-left headerLeftMobile" id="headerLeftMobile">
              <a href="http://dos.myflorida.com/" target="_blank">  <img src="../../assets/images/dosLogo.png" class="logo img-responsive dosLogoPhonePortrait dosLogoTabletPortrait dosLogoPhoneLandscape dosLogoTabletLandscape" alt="Florida Department of State" id="dosLogoMobile"></a>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-right headerRight" id="headerRight">
            <span class="headerLinkHelp"><a href="http://dos.myflorida.com/media/698343/ovr-help-english.pdf" target="_blank" rel="nofollow">Help </a></span>
            <span class="headerLinkFAQ"><a href="http://dos.myflorida.com/media/698341/ovr-faq-english.pdf" target="_blank" rel="nofollow">FAQ</a></span>
            <span class="headerLinkFacts"><a href="http://dos.myflorida.com/media/698339/ovr-quickfacts-english.pdf" target="_blank" rel="nofollow">QuickFacts</a></span>
    </div>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="headerContainerTopMobileTwo">
          <div class="text-center headerCenterMobile" id="headerCenterMobile">
              <div class="HeaderTitleText-PhonePortrait HeaderTitleText-PhoneLandscape HeaderTitleText-TabletPortrait HeaderTitleText-DesktopPortrait HeaderTitleText-DesktopXl-Portrait" id="HeaderTitleTextMobile" style="color:white;font-weight:bold; ">Florida Online Voter Registration Website</div>
          </div>
      </div>
  </div>
</div>

<div class="navbar col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:0px; background-color:#2168A9;" id="header">
  <div class="container text-center" id="headerContainer">
      <img src="../../assets/images/headerBannerD.jpg" alt="RegistertoVoteFlorida.gov" class="logo headerBannerD img-responsive" id="headerBannerD">
    </div>
  </div>
