

<div class="panel panel-default col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <form [formGroup]="RdFrm" class="form-horizontal" (ngSubmit)="onSubmit(RdFrm)">
  <div class="panel-body">
    <fieldset>
      <h3>Political Party Preference</h3>
      <hr style="border-color:black;" />
      <div>
        <label class="text-primary" style="color:#3977ad">
          <b>
              Florida is a closed primary election state. Any party change made after the registration deadline for an upcoming primary election will not take effect until after that election.
          </b>
        </label>
      </div>
      <br />
      <div>

      </div>
      <div class="form-group row col-lg-12">
        <br>
        <div class="col-lg-4 partyAffiliationLabel" style="padding-top: 6px;">
          <label for="PartyAffiliation">Party Affiliation
          </label> &nbsp;&nbsp;

        </div>
        <mat-form-field appearance="outline"  (blur)="logValidationErrors()" >
          <mat-select placeholder="Select a Party"  formControlName="partyAffiliation">
            <mat-option>-- None --</mat-option>
            <mat-option *ngFor="let party  of partys" [value]="party">
              {{ party }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-lg-8">
          
        </div>       
      </div>
      <h3>Legal Residential Address</h3>
      <hr style="border-color:black;" />
      <div>
          <label class="text-primary" style="color:#3977ad">
              <b>
                  Do not enter a P.O. Box or business address.
              </b>
          </label>
      </div>
      <div>
          <button (click)="openAddressModal(ngtemplate);" type="button" class="btn btn-primary btn-lg" id="btnAddressModalShow">
              <i class="glyphicon glyphicon-home"></i>  Click Here to enter Address
          </button>
      </div>
      <br />

      <div class='row' id="manualAddressEntry">
          <div class='col-sm-3' [ngClass]="{'has-error' : formErrors.resStreetNumber}">
              <div class='form-group'>

                  <label for="resStreetNumber">Street Number <span style="color:#e80000;">*</span></label>
                  &nbsp;&nbsp;&nbsp;
                  <input type="text" id="resStreetNumber"  (blur)="logValidationErrors()" formControlName="resStreetNumber"  class="form-control">
                  <span class="help-block" *ngIf="formErrors.resStreetNumber">
                      {{formErrors.resStreetNumber}}
                    </span>
              </div>

             
          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressNameSuffix">Street Number NameSuffix</label>
                  <input type="text" class="form-control" formControlName="resStreetNumberSuffix">
              </div>

          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressDirection">Pre Direction</label>
                  <input type="text" class="form-control" formControlName="resStreetPreDirection">
              </div>

          </div>         


          <div class='col-sm-3'  [ngClass]="{'has-error' : formErrors.resStreetName}">
              <div class='form-group'>

                  <label for="resStreetName">Street Name <span style="color:#e80000;">*</span></label>
                  &nbsp;&nbsp;&nbsp;
                  <input type="text" id="resStreetName"  (blur)="logValidationErrors()" formControlName="resStreetName"  class="form-control">
                  <span class="help-block" *ngIf="formErrors.resStreetName">
                      {{formErrors.resStreetName}}
                    </span>
              </div>

          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressType">Type</label>
                  <input type="text" class="form-control" formControlName="resStreetType">
              </div>

          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressDirNameSuffix">Post Direction</label>
                  <input type="text" class="form-control" formControlName="resStreetPostDirection">
              </div>

          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressUnitType">Unit Type</label>
                  <input type="text" class="form-control" formControlName="resUnitType">
              </div>
          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressUnitNumber">Unit Number</label>
                  <input type="text" class="form-control" formControlName="resUnitNumber">

              </div>

          </div>




   




          <div class='col-sm-3' [ngClass]="{'has-error' : formErrors.resUspsCityName}">
              <div class='form-group'>

                  <label for="resUspsCityName">City Name <span style="color:#e80000;">*</span></label>
                  &nbsp;&nbsp;&nbsp;
                  <input id="CityName"  (blur)="logValidationErrors()" formControlName="resUspsCityName"  class="form-control">
                  <span class="help-block" *ngIf="formErrors.resUspsCityName">
                      {{formErrors.resUspsCityName}}
                    </span>
              </div>

          </div>


          <div class='col-sm-3' [ngClass]="{'has-error' : formErrors.resZipCode}">
              <div class='form-group'>
                  <label for="resZipCode">Zip Code <span style="color:#e80000;">*</span></label>
                  &nbsp;&nbsp;&nbsp;
                  <input id="resZipCode"   (blur)="logValidationErrors()" formControlName="resZipCode"  class="form-control"
                                  
                  [patterns]="ZipCodePattern" mask="0000000000">
                  <span class="help-block" *ngIf="formErrors.ZipCode">
                      {{formErrors.resZipCode}}
                    </span>
              </div>
          </div>


          <div class='col-sm-3'>
              <div class='form-group'>
                  <label for="LegalAddressZipCode4">Zip CodePlus4</label>
                  <input type="text" class="form-control" formControlName="resZipCodePlus4">
              </div>
          </div>
          <div class='col-sm-3'>
              <div class='form-group'>

                  <label for="LegalAddressCounty">County</label>
                  <input type="text" class="form-control" formControlName="countyOfResidence">
              </div>
          </div>
</div>
<br />
<hr style="border-color:black;" />
<div class='row'>
  <div class='col-sm-8'>
      <div class='form-group'>
          <div style="font-weight:bold">
              <fieldset>
                  <legend style="font-size:16px; border-bottom:0px; padding-left:0px; float: left; width:60%; font-weight:bold">Mailing address is same as your residential address.</legend>
                  
                  <label for="mailingAddSameAsResi">
                      <input name="mailingAddSameAsResi" type="radio" value="1" formControlName="mailingAddSameAsResi">Yes
                  </label>
                  &nbsp; &nbsp;
                  
                  <label for="mailingAddSameAsResi">
                      <input name="mailingAddSameAsResi" type="radio" value="0" formControlName="mailingAddSameAsResi">No
                  </label>
              </fieldset>
          </div>
      </div>     
  </div>
</div>
<br />
<div [hidden]="RdFrm.controls.mailingAddSameAsResi.value == '1'" class="form-group" id="MailAddress">
  <h3> Mailing Address</h3>
  <h5>(This information is not required.)</h5>
  <hr style="border-color:black;" />
  <div class='row'>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MAddressLine1">Address Line 1</label>
              <input type="text" class="form-control" formControlName="mailAddrLine1">
          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MAddressLine2">Address Line 2</label>
              <input type="text" class="form-control" formControlName="mailAddrLine2">
          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MAddressLine3">Address Line 3</label>
              <input type="text" class="form-control" formControlName="mailAddrLine3">
          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MailingCity">City</label>
              <input type="text" class="form-control" formControlName="mailAddrCity">
          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MailingState">State</label>
              <input type="text" class="form-control" formControlName="mailAddrState">

          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MailingZipCode">Zip Code</label>
              <input type="text" class="form-control" formControlName="mailAddrZip">
          </div>
      </div>
      <div class='col-sm-4'>
          <div class='form-group'>

              <label for="MCountryOutsideUS">Country if outside US</label>
              <input type="text" class="form-control" formControlName="mailAddrCountry">
          </div>
      </div>
  </div>
</div>
<h3>Former Name and Former Address Where You Were Last Registered to Vote</h3>
              <h5>(This information is not required.)</h5>
              <hr style="border-color:black;" />
              <div class='row'>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FAddressLine1">Address Line 1</label>
                          <input type="text" class="form-control" formControlName="formerAddrLine1">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FAddressLine2">Address Line 2</label>
                          <input type="text" class="form-control" formControlName="formerAddrLine2">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FAddressLine3">Address Line 3</label>
                          <input type="text" class="form-control" formControlName="fromerAddrLine3">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerCity">City</label>
                          <input type="text" class="form-control" formControlName="formerAddrCity">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerState">State</label>

                          <input type="text" class="form-control" formControlName="formerAddrState">

                      </div>
                  </div>


                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerZipCode">Zip Code</label>
                          <input type="text" class="form-control" formControlName="formerAddrZip">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerFirstName">Former First Name</label>
                          <input type="text" class="form-control" formControlName="formerFirstName">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerMiddleName">Former Middle Name</label>
                          <input type="text" class="form-control" formControlName="formerMiddleName">
                      </div>
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="FormerLastName">Former Last Name</label>
                          <input type="text" class="form-control" formControlName="formerLastName">
                      </div>
                  </div>
              </div>

              <br />
              <h3>Personal Information</h3>
              <h5>(This information is not required.)</h5>
              <hr style="border-color:black;" />
              <label class="text-primary" style="color:#3977ad">
                  <span style="color:#e80000;">Public Records Notice:</span> <u>
                    <a href="http://dos.myflorida.com/elections/for-voters/voter-registration/voter-information-as-a-public-record/" target="_blank" class="a_hover"
                     title="Voter information as a public Record"> Voter Information as a Public Record</a></u><span>.</span>
              </label>

              <br /><br />
              <div class='row'>
                  <div class='col-sm-4'>
                      <div class='form-group' [ngClass]="{'has-error' : formErrors.gender}">

                          <label> Gender <br/>
                          <input name="gender" type="radio" value="1" formControlName="gender" (blur)="logValidationErrors()">
                           Male</label> &nbsp;
                           <input name="gender" type="radio" value="2" formControlName="gender" (blur)="logValidationErrors()"> <label for="gender"> Female</label>
                           <span class="help-block" *ngIf="formErrors.gender">
                              {{formErrors.gender}}
                            </span>
                      </div>                     
                  </div>
                  <div class='col-sm-4'>
                      <div class='form-group'>
                          <label for="Race">Race/Ethnicity</label>

                          <input type="text" class="form-control" formControlName="raceId">
                      </div>
                  </div>
                  <div class='row'>
                      <div class='col-sm-4'>
                          <div class='form-group' [ngClass]="{'has-error' : formErrors.daytimePhone}">

                              <label for="daytimePhone">Telephone Number</label>
                              <input id="daytimePhone"   (blur)="logValidationErrors()" formControlName="daytimePhone"  class="form-control"                                                  
                              [patterns]="PhonePattern" mask="(000)-0000-000-00">
                              <span class="help-block" *ngIf="formErrors.daytimePhone">
                                  {{formErrors.daytimePhone}}
                              </span>
                          </div>

                      </div>


                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class='col-sm-4'>
                              <div class='form-group'>
                                  <br />
                                  <label> <input type="checkbox">  <b> Email me SAMPLE BALLOTS if option is available in my county.</b></label>
                              </div>
                          </div>
                          <div class="form-group"  id="dvEmail">
                              <div class='col-sm-4'>
                                  <div class='form-group' [ngClass]="{'has-error' : formErrors.publicEmailAddress}">

                                      <label for="publicEmailAddress">Email</label>
                                      <input type="email" id="publicEmailAddress"   (blur)="logValidationErrors()" formControlName="publicEmailAddress"  class="form-control">
                                      <span class="help-block" *ngIf="formErrors.publicEmailAddress">
                                          {{formErrors.publicEmailAddress}}
                                      </span>
                                  </div>                                  
                              </div>
                              <div class='col-sm-4'>
                                  <div class='form-group' [ngClass]="{'has-error' : formErrors.emailConfirmation}">
                                      <label for="emailConfirmation">Confirm Email Address</label>
                                      <input type="email" id="emailConfirmation"   (blur)="logValidationErrors()" formControlName="emailConfirmation"  class="form-control">
                                      <span class="help-block" *ngIf="formErrors.emailConfirmation">
                                          {{formErrors.emailConfirmation}}
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class='col-sm-4'>
                      <div class='form-group'>

                          <label for="PlaceOfBirth"> State or Country of Birth</label>
                          <input type="text" class="form-control" formControlName="placeOfBirth">
                      </div>
                  </div>

              </div>

              <br />
              <h3> Assistance/Volunteer Services</h3>
              <h5>(This information is not required.)</h5>
              <hr style="border-color:black;" />

              <div class="form-group">
                  <div class="col-lg-12">

                      <br />
                      <div style="font-weight:bold"  [ngClass]="{'has-error' : formErrors.votingAssistRequired}">
                          <fieldset>
                              <legend style="font-size:14px; border-bottom:0px; padding-left:0px; float: left; width:30%">I will need assistance with voting.</legend>
                              <input name="votingAssistRequired" type="radio" value="1" formControlName="votingAssistRequired" (blur)="logValidationErrors()">
                              <label for="votingAssistRequired">
                                  Yes
                              </label>

                              <input name="votingAssistRequired" type="radio" value="2" formControlName="votingAssistRequired" (blur)="logValidationErrors()"> 
                                                            <label for="VotingAssistRequiredNo">
                                  No
                              </label>
                              <span class="help-block" *ngIf="formErrors.votingAssistRequired">
                                  {{formErrors.votingAssistRequired}}
                                </span>
                          </fieldset>
                      </div>

                      <div style="font-weight:bold" [ngClass]="{'has-error' : formErrors.pollWorkerVolunteer}">
                          <fieldset>
                              <legend style="font-size:14px; border-bottom:0px; padding-left:0px; float: left; width:30%">I am interested in becoming a poll worker.</legend>
                              <input name="pollWorkerVolunteer" type="radio" value="1" formControlName="pollWorkerVolunteer" (blur)="logValidationErrors()">
                              <label for="pollWorkerVolunteer">
                                  Yes
                              </label>

                              <input name="pollWorkerVolunteer" type="radio" value="2" formControlName="pollWorkerVolunteer" (blur)="logValidationErrors()"> 
                              <label for="pollWorkerVolunteer">
                                  No
                              </label>
                              <span class="help-block" *ngIf="formErrors.pollWorkerVolunteer">
                                  {{formErrors.pollWorkerVolunteer}}
                                </span>
                          </fieldset>
                      </div>

                      <br /><br />
                      <h3> Classification</h3>
                      <h5>(This information is not required.)</h5>

                      <hr style="border-color:black;" />
                      <br />
                      <fieldset>
                          <legend class="text-primary" style="color:#3977ad; font-size:14px; border-bottom:0px;">
                              I am one of the following:
                          </legend>

                          <input name="type" checked type="radio"> &nbsp;
                          <label for="Classification1">
                              I am an active duty Uniformed Services or Merchant Marine member.
                          </label><br>
                          <input  name="type" type="radio"> &nbsp;
                          <label for="Classification2">
                              I am a spouse or a dependent of an active duty Uniformed Services or Merchant Marine member.
                          </label><br>
                          <input  name="type" type="radio"> &nbsp;
                          <label for="Classification3">
                              I am a U.S. citizen residing outside the U.S.
                          </label><br>
                          <label>
                              <input  name="type" type="radio">  &nbsp;None of the above.
                          </label><br>
                      </fieldset>
                  </div>

              </div>

            
    </fieldset>
  </div>
  </form>  

  <ng-template #ngtemplate>
    
      <div class="modal-body text-center">              
        <h4>Find My Address</h4>
        <hr />

        <p>

          By exiting this application, you will lose all of the data you entered?</p>
          <div class='row' id="">
            <div class='col-sm-12'>
                <div class='form-group'>
  
                    <label for="LegalAddressNumber">StreetNumber </label>
                    &nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control">
                </div>
  
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
  
                    <label for="LegalAddressNameSuffix">Street Number NameSuffix</label>
                    <input type="text" class="form-control">
                </div>
  
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
  
                    <label for="LegalAddressDirection">Pre Direction</label>
                    <input type="text" class="form-control">
                </div>
  
            </div>
            <div class='col-sm-12'>
                <div class='form-group'>
  
                    <label for="LegalAddressStreetName">Street Name </label>
                    &nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control">
  
                </div>
  
            </div>                                      
  </div>
          
  
        <button type="button" class="btn btn-primary" (click)="confirm()">Use this address</button> &nbsp;
        <button type="button" class="btn btn-primary" (click)="decline()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="decline()">I can't find my address</button>
      </div>
    </ng-template>
</div>